[Unit]
Description=open-mmi CAN daemon
After=network.target

[Service]
Type=simple

WorkingDirectory=/opt/open-mmi

ExecStart=/opt/open-mmi/venv/bin/python /opt/open-mmi/canbusd/canbusd.py

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
