SUBSYSTEM=="net", KERNEL=="can0", ACTION=="add",   RUN+="/sbin/ip link set can0 down",   RUN+="/sbin/ip link set can0 type can bitrate 100000",   RUN+="/sbin/ip link set can0 up"
KERNEL=="uinput", MODE="0666"

